*.iml
*.pem
*.jks
.gradle
/pepk.jar
/keytool.exe
/jli.dll
/local.properties
/dummy.keystore.properties
/keystore.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/production.keystore.properties
app/libs/
production.keystore.properties
/README deploy.txt
